html { height: 100%; }

body {
	display: flex;
	justify-content: center;
	height: 100%;
	background-color: #545454;
	color: #FFFFFF;
}

a {
	color: gray;
	text-decoration: none;
}

a:hover {
	color: lightgray;
}

.grid-container {
  	width: 80%;
  	display: grid;
  	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  	grid-template-rows: 0.1fr 0.1fr 0.8fr 0.5fr 0.5fr 0.1fr 1fr;
  	gap: 8px 0px;
}

.header {
	grid-area: 1 / 1 / 2 / 7;
	display: flex;
	justify-content: center;
}

.sub-header {
	grid-area: 2 / 1 / 3 / 7;
	display: flex;
	justify-content: center;
}

.information { grid-area: 3 / 1 / 4 / 7; }

.selection-list { grid-area: 4 / 1 / 8 / 3; }

.edit-section { grid-area: 4 / 3 / 8 / 7; }

.registration {
	grid-area: 4 / 3 / 5 / 7;
}

.links {
	grid-area: 5 / 3 / 6 / 7;
}

.lei {
	grid-area: 6 / 3 / 7 / 7;
}

.company-name-title {

}

.company {
	display: flex;
}

.company, .lei, .links, .registration {
	border: 1px solid white;
	border-radius: 10px;
	padding: 8px;
	padding-top: 0px;
	margin: 8px;
}

.company-left {
	display: grid;
	grid-area: 7 / 3 / 8 / 5;
	width: 50%;
	margin-right: 8px;
}

.company-right {
	display: grid;
	grid-area: 7 / 5 / 8 / 7;
	width: 50%;
	margin-left: 8px;
}

.sub-header {
	grid-area: sub-header;
	display: flex;
	justify-content: center;
}

.selection {
	margin: 8px;
	margin-bottom: 24px;
	padding: 8px;
}

.selection:hover {
	background-color: #646464;
	cursor: pointer;
}

.selection-name { font-size: larger; }

.selection-lei { font-size: smaller; }

.input-group {
	justify-content: space-between;
	display: flex;
	margin-bottom: 4px;
}
